
<body >  

    

    <div class="pt-lg-5">  
        
      <div class="global-container">  
        <img src="../../../assets/TopDoc_Main.jpg" width="50%">
        <div class="card login-form">  
            
        <div class="card-body ">  
            <h3 class="card-title text-center"> Green View Hospital </h3>  
            
            

              <div class="form-group">
                <label for="demo_overview_minimal">Select Your Role</label>
                <select id="demo_overview_minimal" class="form-control" data-role="select-dropdown" data-profile="minimal">
                    <option>Admin</option>
                    <option>Receptionist</option>
                    <option>Doctor</option>
                </select>
                </div>

            <div class="card-text">  
                <form>  
                    <div class="form-group">  
                        <label for="exampleInputEmail1"> Enter Username </label>  
                        <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">  
                    </div>  
                    <div class="form-group">  
                        <label for="exampleInputPassword1">Enter Password </label>  
                        <a href="#" style="float:right;font-size:12px;"> Forgot password? </a>  
                        <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">  
                    </div>  
                    <button type="submit" class="btn btn-primary btn-block"> Login </button>  
                      
                    
                        Don't have an account? <br><br> <a routerLink="../doctorsignup" style="float:right;font-size:14px;"> Register as a doctor </a> <br> 
                        
                        <a routerLink="../employeesignup" style="float:right;font-size:14px;"> Register as an Employee </a> <br> 
                    
                </form>  
            </div>  
        </div>  
    </div>  
    </div>  
   
