.container {
    max-width: 1300x;
  }

  .main{
      margin-top: 10px;
  }

  .mt-20{
      margin-top: 20px;
  }

  .mt-2r{
      margin-top: 20px;
  }

  .product-header{
      font-weight: 500;
  }
  .header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }